@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  /* Setting the font size to 1vw makes it follows the page width growth */
  /* font-size: 1vw; */
}

:root {
  color-scheme: light dark;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 100%;
}

button {
  border-radius: 8px;
  background: #FFF;
  display: flex;
  height: 40px;
  padding: 20px;
  justify-content: center;
  align-items: center;
  color: #1A1B23;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
}
